services:
  # 1. Base de Datos
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=libnamic_user
      - POSTGRES_PASSWORD=libnamic_password
      - POSTGRES_DB=inventario_db
    ports:
      - "5432:5432"

  # 2. API (Backend)
  web:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    # Cargamos el archivo .env de la raíz
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://libnamic_user:libnamic_password@db/inventario_db
      # Forzamos la inyección para evitar errores de lectura
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}

  # 3. Interfaz (Frontend)
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - web

volumes:
  postgres_data: